.eventCard{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: #13191c;
    border-radius: 10px; 
    color: white;
}

.eventCards{
    background: #13191c;
    border-radius: 10px;
    color: white;
}

.eventInnerDiv{
    background-color: rgb(37,42,44);
}

.hrLine{
    border: 1px solid white;
    width: 100%;
}