.rewardsBg {
  background-color: rgb(20, 17, 40);
  border-radius: 20px;
}

.detailsmainBg {
  background-color: black;  
}

.contractAddress {
  background-color: rgb(20, 17, 40);
  color: rgb(137, 118, 255);
  width: fit-content;
  border-radius: 30px;
}

.contractAddressBtn {
  background-color: rgb(20, 17, 40);
  color: white;
  width: fit-content;
  border: none;
}
.detailsCardBg {
  background-color: bisque;
  color: rgb(114, 172, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
}

.rewardCount {
  color: rgb(137, 118, 255);
  font-weight: 700;
}
.rewardsLogo {
  width: 10%;
  margin-right: 6%;
  /* margin-left: 5%; */
}
  
.detailsBtn {
  width: 40%;
  margin-left: 5px;
  border-radius: 10px;
  border: none;
  background-color: rgb(31, 27, 62);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coinLogo {
  width: 15%;
}

.detailbtn1 {
  padding-bottom: 0;
  margin-bottom: 0;
  width: fit-content;
  border-radius: 20px;
  border: none;
  background: linear-gradient(180deg, #6239f8 0%, #8339f5 100%);
}

.detailbtn2 {
  background: linear-gradient(180deg, #3a4df5 0%, #3979f5 100%);
  width: fit-content;
  border: none;
  border-radius: 10px;
}

.detailbtn3 {
  padding-bottom: 0;
  margin-bottom: 0;
  width: fit-content;
  border-radius: 10px;
  background: linear-gradient(91.3deg, #27abc7 5.12%, #1fad72 83.49%);
  border: none;
}

.campignerimg {
  width: 5%;
}

.socialIcon {
  width: 25px;
  height: 25px;
}

.acordion {
  border-radius: 30px !important;
}

.accordion {
  padding: 0;
  border: none;
  border-radius: 30px !important;
  --bs-accordion-color: white;
  --bs-accordion-bg: rgb(31, 27, 62);
  --bs-accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: rgb(31, 27, 62);
  --bs-accordion-border-width: var(--bs-border-width);
  --bs-accordion-border-radius: var(--bs-border-radius);
  --bs-accordion-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23ffffff%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23ffffff%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
  --bs-accordion-btn-focus-border-color: rgb(31, 27, 62);
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: var(--bs-primary-text-emphasis);
  --bs-accordion-active-bg: var(--bs-primary-bg-subtle);
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
  font-size: 1rem;
  color: white;
  text-align: left;
  background-color: var(--bs-accordion-btn-bg);
  border: none;
  border-bottom: solid 2px solid;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: rgb(166, 166, 232);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}

.followTwitter {
  background: -webkit-linear-gradient(180deg, #5a3af7 0%, #8b39f5 100%);
  width: fit-content;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 800;
  padding: 5px 30px;
}

.accordionColor {
  border-bottom: 2px solid black;
}
