/* .SidenavButton{
    padding: .5em;
    width: 150px;
    background-color: black;
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    display: block;
  width: 100%; 
} */

/* @media only screen and (max-width: 768px) {
  .label {
    display: none;
  }

  .icon-only-md {
    display: inline-block; 
  }
} */

