.eventMainBg{
    background-color: black;
}

.eventButton{
    background-color: black;
    color: white;
    border: none;
    border-bottom: 2px solid green;
    margin-left: 10px;
    padding-bottom: 8px;
}

.eventCardBg{
    background-color: rgb(29,33,35);
    color: white;
    padding: 20px;
}

.eventBtn{
    width: fit-content;
    border: none;
    background-color: aliceblue;
    color: green;
    font-weight: 900;
}

.eventDetails{
    background-color: black;
    color: white;
}

.eventSpanCode{
     color: rgb(100, 232, 71);
}

.eventDetailsBtn{
    background-color: white;
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.eventDetailsTOken{
    background-color: rgb(25,30,36);
    border-radius: 5px;
    padding-top: 10px;
}

.campaignFont{
    color: rgb(98,100,102);
}