.landingBg{
    background-color: black;

}

.wagmiBtn{
    background-color: black !important;
    background: black !important;  
    border-radius: none !important;
}

/* button {
    background: black !important;
    border: 1px solid var(--wui-gray-glass-010);
    border-radius: var(--wui-border-radius-m);
    gap: var(--wui-spacing-xs);
} */     