.image-preview {
  max-width: 100%; /* Responsive width */
  max-height: 300px; /* Max height */
  margin-top: 20px;
  border: 1px solid #ddd; /* Optional: for better visibility */
  border-radius: 4px; /* Optional: for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: for a slight shadow */
}

.upload-instructions {
  background-color: rgb(29, 33, 35);
  padding: 5%;
  /* width: 80%; */
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 10px;
  color: grey;
}

.editor-container {
  border: 1px solid #333;
  border-radius: 4px;
  color: white;
  background: #1a1a1a;
  padding: 10px;
  position: relative;
  /* width: 80%; */
  margin-top: 3%;
  margin-bottom: 5%;
  background-color: rgb(29, 33, 35);
}

.toolbar {
  display: flex;
  justify-content: space-around;
  color: gray;
  font-weight: 500;
}

.text-input {
  min-height: 150px; /* Or any other height */
  margin-top: 10px;
  /* Add styles for the text input area */
}

.word-count {
  position: absolute;
  bottom: 15px;
  right: 50px;
  font-weight: 500;
  /* Style as needed */
}

.campaign-visibility-container {
  background: #000;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.toggle-switches {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.toggle-switch {
  background: #333;
  padding: 10px;
  border-radius: 8px;
  position: relative;
}

.toggle-switch input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch label {
  cursor: pointer;
  padding-left: 35px;
  position: relative;
}

.toggle-switch label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: #555;
  border-radius: 50%;
}


.description {
  font-size: 0.9em;
  margin-bottom: 20px;
}

/* .recaptcha-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.recaptcha-checkbox input[type="checkbox"] {
  margin-right: 10px;
} */

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  
}

.save-draft {
  background: white;
  color: black;
  width: 30%;
  
}

.next {
  background: rgb(186, 255, 14);
  background: linear-gradient(
    90deg,
    rgba(186, 255, 14, 1) 0%,
    rgba(5, 188, 113, 1) 100%
  );
  color:black;
 margin-left: 3%;
}

.toggle-option {
  padding: 1% 4%;
  border: 1px solid gray;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.toggle-option.active {
  border: 2px solid white; 
}

.toggle-switches .toggle-option.active {
  border-color: white;
}

.CampDescription {
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 5%;
}
